
<%= content_for :jumbotron do %>
<div class="outerwrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  
   
		   <div class="jumbotron jumby ">
      
        <div class="lead jumbylead">
			  <div class="container "><div class="jumboleader">A mayor with a vision for Sacramento</div></div>
        
      </div>
    </div>

</div>


<% end %>

	

<%= simple_format(@content.content) %>


<%= image_tag 'sig.jpg'%>


<%= content_for :rh do %>

<a class="twitter-timeline" href="https://twitter.com/Steinberg4Sac" data-widget-id="685174661567483904">Tweets by @Steinberg4Sac</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<% end %>

<%= content_for :band1 do %>

<%= render '/layouts/support.html.erb' %>

<% end %>

