
<%= content_for :jumbotron do %>
<div class="outerwrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  
   
		   <div class="jumbotron jumby ">
      
        <div class="lead jumbylead">
			  <div class="container "><div class="jumboleader">A mayor with a vision for Sacramento</div></div>
        
      </div>
    </div>

</div>


<% end %>

	

<%= simple_format(@content.content) %>


<%= image_tag 'sig.jpg'%>


<%= content_for :rh do %>

<h5>RH Content</h5>



<% end %>

<%= content_for :band1 do %>

<%= render '/layouts/support.html.erb' %>

<% end %>

