
<%= content_for :jumbotron do %>
<div class="outerwrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  
   
		   <div class="jumbotron jumby ">
      
        <div class="lead jumbylead">
			  <div class="container "><div class="jumboleader">A Mayor for all of us</div></div>
        
      </div>
    </div>

</div>


<% end %>

	

<%= simple_format(@content.content) %>

<div class="sig">
<%= image_tag 'sig.jpg'%>
</div>
<div>
	
<div class="testamonies">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
	 
	  <% @testamonies.each_with_index do |t,i| %>
    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="discy <% if t == @first %>active<% end %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
	   <% @testamonies.each do |testamony| %>
	   
    <div class="carousel-item <% if testamony == @first %>active<% end %>">
		<div class="testamony-quote">
      <i><span class="fa fa-quote-left quote"></span> </i> <%= testamony.quote %> <i><span class="fa fa-quote-right quote"></span> </i>
	  
  </div>
  
 <div class="testamony-name"><%= testamony.name %></div>
 
 <div class="testamony-title"><%= testamony.title %></div>
 
	    </div>
	  <% end %>
  
	
	
</div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
  </div>
  
</div>	
	
</div>




<%= content_for :rh do %>





<%= render '/layouts/social.html.erb' %>


<% end %>

<%= content_for :band1 do %>

<%= render '/layouts/full_ads.html.erb'%>


<% end %>

