
<%= content_for :jumbotron do %>
<div class="outerwrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  
   
		   <div class="jumbotron jumby ">
      
        <div class="lead jumbylead">
			  <div class="container "><div class="jumboleader center">"A Mayor for all of us"</div></div>
        
      </div>
    </div>

</div>


<% end %>

	

<%= simple_format(@content.content) %>

<div class="sig">
<%= image_tag 'sig.jpg'%>
</div>


<div class="personal-references">
	<h2>Personal References for Darrell</h2>
	<% unless @personal.blank? %>
	<% @personal.each do |p|%>
	<div class="reference">
	<h3><%= link_to p.name, p  %></h3>
	<p class="lead"><%= p.description %><span class="read-more  "><%= link_to '...read more', p %></span> <span class="readmore-sep">| </span><span class="read-more  "><%= link_to 'All Personal References', darrell_personalreferences_path, class: "read-more-blue newslink "%></span></p>
</div>
	<% end %>
	<% end %>
	
</div>
	





<%= content_for :rh do %>





<%= render '/layouts/social.html.erb' %>


<% end %>

<%= content_for :band1 do %>

<%= render '/layouts/full_ads.html.erb'%>


<% end %>

