
<%= content_for :jumbotron do %>
<div class="outerwrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  
   
		   <div class="jumbotron jumby ">
      
        <div class="lead jumbylead">
			  <div class="container "><div class="jumboleader">A Mayor for all of us</div></div>
        
      </div>
    </div>

</div>


<% end %>

	

<%= simple_format(@content.content) %>

<div class="sig">
<%= image_tag 'sig.jpg'%>
</div>
<div>
	
	
	
</div>




<%= content_for :rh do %>





<%= render '/layouts/social.html.erb' %>


<% end %>

<%= content_for :band1 do %>

<%= render '/layouts/full_ads.html.erb'%>


<% end %>

