

 	<% if current_user %>
 	<div class="edit alert" >
 <i> <%= link_to ' Edit ', edit_news_path(@news), class: "admin-edit fa fa-edit", dismissible: true %> </i>|<i> <%= link_to ' Delete', @news, method: :delete, data: { confirm: 'Are you sure?' }, class: "admin-edit fa fa-trash" %></i>
 
 <button class="close" data-dismiss="alert" type="button">
     <span aria-hidden="true">×</span><span class="sr-only">Close</span>
   </button>
   
 </div>
<% end %>
 <% if @news.avatar.blank? %>
 no image
	
	
 <% else %>
<div class="news-img">
 <%= image_tag @news.avatar.url(:medium), class:"img-fluid"%>
</div>
 <% end%>
 
<h1> <%= @news.title %></h1>
 
 

<p class="lead">

  <%= @news.description %>


<p>
 
  <%= simple_format(@news.content) %>
</p>

 <%= render '/layouts/support.html.erb' %>


	

<div class="clear"></div>

<%= content_for :rh do %>

<% if current_user %><div class="edit alert" >
 <i> <%= link_to ' Add a new story  ', new_news_path, class: "admin-edit fa fa-plus", dismissible: true %> </i>
 
 <button class="close" data-dismiss="alert" type="button">
     <span aria-hidden="true">×</span><span class="sr-only">Close</span>
   </button>
   
 </div>
 <% end %>
 
 
<% @stories.each do |i| %>
 <% unless i == @news %>
<div class="card issue-card-sml">
	
	
		<%= image_tag i.avatar.url(:thumb), class: "card-img-top issue-img-sml"%>
		<div class="card-block no-padding">
<h5 class="card-title"><%= i.title %></h5>

 <p><%= link_to 'Learn more', i %></p>
</div>
</div>
<% end %>
<% end %><% end %>
