<p id="notice"><%= notice %></p>

<p>
  <strong>Pagetitle:</strong>
  <%= @page.pagetitle %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @page.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
