<%= content_for :override do %>


<div class="testamonies">


<div  class="carousel slide" data-ride="carousel" data-pause="false">
 
  
  
  
  <div class="carousel-inner" role="listbox">
	  
	   <% @testamonies.each do |testamony| %>
	   <div class="carousel-item  <% if testamony == @first %>active<% end %>">
		   
		 <div class="testamony">
		 <div class="testamony-quote">
	
		 	<i><span class="fa fa-quote-left quote"></span> </i> <%= testamony.quote %> <i><span class="fa fa-quote-right quote"></span> </i></div>
		 
		 <div class="testamony-name"><%= testamony.name %></div>
		 
		 <div class="testamony-title"><%= testamony.title %></div>





	
		     


		 </div>
		   
		   </div>
	   <% end %>
    
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
		
<% end %>
		
	<h1>Endorsements for Darrell</h1>
	
	<p class="lead">Join the growing group of Darrell supporters</p>
	
<% unless @orgs.blank? %>
<h2>Organizations</h2> <% end %>
	<% @orgs.each do |e| %>
	<p><%= e.organization %>  <% if current_user %>    <span class="edit alert edit-endorsement" >
	   <%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %></p>
</span>
<% end %></p>
<% end %>
	

<h2>Sacramento Elected Officials</h2> 
  
<% @sacelecteds.each do |e| %>
  
 <p> <%= e.title %> <strong><%= e.firstname %> <%= e.lastname %></strong> <% if current_user %> 
	<span class="label label-warning"> <%= e.rank %></span>
	  <span class="edit alert edit-endorsement" >
		   <%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
  </span>
<% end %>
		 
<h2>Regional Elected Officials</h2> 

<% @regelecteds.each do |e| %>
<p> <%= e.title %> <strong><%= e.firstname %> <%= e.lastname %></strong> <% if current_user %> 
<span class="label label-warning"> <%= e.rank %></span>
<span class="edit alert edit-endorsement" >
<%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
</span>
<% end %>		 
		 
<h2>State Elected Officials</h2> 

<% @stateelecteds.each do |e| %>
<p> <%= e.title %> <strong><%= e.firstname %> <%= e.lastname %></strong> <% if current_user %> 
<span class="label label-warning"> <%= e.rank %></span>
<span class="edit alert edit-endorsement" >
<%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
</span>
<% end %>	



<h2>Former Elected Officials</h2> 

<% @formerelecteds.each do |e| %>
<p> <%= e.title %> <strong><%= e.firstname %> <%= e.lastname %></strong> <% if current_user %> 
<span class="label label-warning"> <%= e.rank %></span>
<span class="edit alert edit-endorsement" >
<%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
</span>
<% end %>	



		 
		 
<h2>Community Leaders</h2> 

<% @individuals.each do |e| %>

<p>  <%= e.title %> <strong><%= e.firstname %> <%= e.lastname %></strong>  <% if current_user %>   <span class="edit alert edit-endorsement" >
<%= link_to ' edit', edit_endorsement_path(e), class: "admin-edit fa fa-edit" %> |  <%= link_to ' delete', endorsement_path(e), class: "admin-edit fa fa-trash", :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
</span></p></span>

<% end %>
		
		
		
	
		
		<p>	<a href="#" class="crunchify-top">↑Back to top</a>
		
		
		<%= content_for :rh do %>
		
		<% if current_user %><div class="edit alert" >
		 <i> <%= link_to ' Add an endorsement  ', new_endorsement_path, class: "admin-edit fa fa-user-plus", dismissible: true %> </i>
 
		 <button class="close" data-dismiss="alert" type="button">
		     <span aria-hidden="true">×</span><span class="sr-only">Close</span>
		   </button>
   
		 </div>
		 
		 <div class="edit alert" >
		 		 <i> <%= link_to ' Add a testamony  ', new_testamony_path, class: "admin-edit fa fa-user-plus", dismissible: true %> </i>
 
		 		 <button class="close" data-dismiss="alert" type="button">
		 		     <span aria-hidden="true">×</span><span class="sr-only">Close</span>
		 		   </button>
   
		 		 </div>
				 
				 <% else %>
				 
				 <%= render '/layouts/social.html.erb' %>
		 <% end %>
		 
		
		<% end %>
		
		
		
		
		<script>
		$('.carousel').carousel({
		   interval: 6000
		   })
		</script>
		   
		   
		   <script>            
		   	jQuery(document).ready(function() {
		   		var offset = 220;
		   		var duration = 500;
		   		jQuery(window).scroll(function() {
		   			if (jQuery(this).scrollTop() > offset) {
		   				jQuery('.crunchify-top').fadeIn(duration);
		   			} else {
		   				jQuery('.crunchify-top').fadeOut(duration);
		   			}
		   		});
 
		   		jQuery('.crunchify-top').click(function(event) {
		   			event.preventDefault();
		   			jQuery('html, body').animate({scrollTop: 0}, duration);
		   			return false;
		   		})
		   	});
		   </script>
		   