<h1>Contact Us</h1>

<p>You can email us at <%= mail_to 'Contact@Steinberg4Sac.com', 'Contact@Steinberg4Sac.com' %>, or use this form to send us a message directly.


   
	<%= bootstrap_form_for @contact, url: {:action=>'create'} do |f| %>

	  <%= f.text_field :name %>

	  <%= f.email_field :email %>

  	
		
	  <%= f.text_area :body, label: 'Message', placeholder: 'Your message', class: "message-field" %>

  	
		
	 <%= f.submit "Send", class: "btn btn-default btn-about pull-right" %>
  <div class="clear"></div>
  <p> </p>

	<% end %>
	
	<% content_for :rh do %>
	<%= render '/layouts/support_panel.html.erb' %>
	<%= render '/layouts/endorsement_panel.html.erb' %>
	
	
	<% end %>