<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags always come first -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Darrell Steinberg for Mayor of Sacramento 2016 <% if @title %>| <%= @title %><% end %></title>
  <% if @description %>
  <meta name="description" content="<%= @description %>" />
  <% end %>
 
  <meta name="keywords" content="Darrell Steinberg, Sacramento, Mayor, 2016" />
  
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  
 <script src="https://use.typekit.net/bzw4tbx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>   <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
</head>
<body data-no-turbolink>

<div class="headset">
	<div class="container"><a class="navbar-brand" href="/"><%= image_tag 'logo.png',  class: "hidden-md-down"%></a>
	
	<div class="cta hidden-sm hidden-xs">
	<div class="mailchimp">
		<h2>Sign up for email updates</h2>
		
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	<form action="//steinberg4sac.us12.list-manage.com/subscribe/post?u=0063416f03ea303e7a07706a3&amp;id=7d6c63fe18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
	
	<div class="mc-field-group">
		
		<input type="email" value="" name="EMAIL" class="required email mcinput fillin" id="mce-EMAIL" placeholder="Enter your email">
	</div>
		   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0832e6996a7bec29607e7c290_7fc28ddeb1" tabindex="-1" value=""></div>
	    <div class="mcinput"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-primary btn btn-default"></div>
		<div class="clear"></div>
	    </div>
	</form>
	</div>
</div>
	<!--End mc_embed_signup-->
	
	


	<!--End mc_embed_signup-->
	
	
	
	<div class="donate"><%= link_to 'DONATE', donate_path, class: "btn" %>
	</div>
	
</div>




</div></div>

   <nav class="navbar"><div class="container"><a class="small-nav-img hidden-lg-up" href="#"><%= image_tag "logo100.png", class: ""%></a>
     <button class="navbar-toggler hidden-lg-up pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
     <span class="sr-only">Toggle navigation</span>
     <i class="fa fa-bars tog-menu"></i> Menu
     </button>
     <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">
	   
	    
	     
	
       <ul class="nav navbar-nav">
		   
		   
         <li class="nav-item">
           <%= link_to 'Home', root_url, class: 'nav-link' %>
         </li>
		 
 		<li class="nav-item nav-link dropdown">
 		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Darrell<span class="caret"></span></a>
 		          <ul class="dropdown-menu drops" role="menu">
 		            <li class="droppy"><%= link_to 'About Darrell', darrell_about_path %></li>
 					<li class="droppy"><%= link_to 'Media Photos', photos_path %></li>
					<li class="droppy"><%= link_to 'Personal References', darrell_personalreferences_path %></li>
					<li class="droppy"><%= link_to 'TV Ads', darrell_video_path %></li>
		           </ul>
 		        </li>
				
				
 		<li class="nav-item nav-link dropdown">
 		          <a class="dropdown-toggle disabled" href="/darrell/issues"  >Issues<span class="caret"></span></a>
 		          <ul class="dropdown-menu drops" role="menu">
					  <% @issues.each do |i| %>
 		            <li class="droppy"><%= link_to i.title, i %></li>
 					<% end %>
		           </ul>
 		        </li>
											<li class="nav-item">
     <%= link_to 'Appointment Requests', appointment_index_path, class: 'nav-link' %>
   </li>
       <!--   <li class="nav-item">
           <%= link_to 'News', news_index_path, class: 'nav-link' %>
         </li>
         <li class="nav-item">
          <%= link_to 'Events', events_path, class: 'nav-link' %>
         </li>
         <li class="nav-item">
           <%= link_to 'Endorsements', endorsements_path, class: 'nav-link' %>
         </li>
         <li class="nav-item">
           <%= link_to 'Support', support_path, class: 'nav-link' %>
         </li>
		   
		     -->
          <li class="nav-item">
            <%= link_to 'Photo Gallery', pics_path, class: 'nav-link' %>
          </li>
		  
         <li class="nav-item">
           <%= link_to 'Contact Us', contact_path, class: 'nav-link' %>
         </li>
		 
		
		
       </ul>
     </div>
   </nav>
          <!-- /.container -->
      </div>
<div class="page">
	
	<div class="container">
	
		
<% if notice %>
<div class="notices">
  <h2 class="alert alert-success"><%= notice %></h2>
</div>
<% end %>
<% if alert %>
<div class="notices">
  <h2 class="alert alert-danger"><%= alert %></h2>
</div>
<% end %>

	</div>
	
<%= yield :jumbotron %>

<div class="container main">
	<%= yield :login %>
	<%= yield :override %>
	<div class="row">
	  <div class="col-md-8"><%= yield %></div>
	  <div class="col-md-4"><%= yield :rh %></div>
	</div>
	
</div>

<!--  <%= yield :band1 %>
<%= yield :band2 %>
<%= yield :band3 %>
<%= render "layouts/newsband.html.erb" %> -->

</div>
      <footer>
		  <div class="container">
			  <div class="row">
			      <div class="col-sm-4 footer-col">
			        <h3>Contact us</h3>
					<p>
					<strong>Email:</strong> contact@Steinberg4Sac.com<br/>
					Or use <span class="footer-link"><%= link_to 'this form to send a message', contact_path%></span>

						
			      </div>
			      <div class="col-sm-6 footer-col">
			       <h3>Site map</h3>
				   <ul>
					   <li><%= link_to 'Home', root_url, class: 'nav-link' %></li>
					   <li><%= link_to 'About Darrell', darrell_about_path, class: 'nav-link' %></li>
					   <li><%= link_to 'Personal References', darrell_personalreferences_path, class: 'nav-link' %></li>
					  <!--  <li><%= link_to 'News', news_index_path, class: 'nav-link' %></li> -->
					   
					  
					   
				   </ul>
				   
				   <ul>
					  <!--  <li><%= link_to 'Events', events_path, class: 'nav-link' %></li>
					   <li><%= link_to 'Endorsements', endorsements_path, class: 'nav-link' %></li>
					   <li><%= link_to 'Support', support_path, class: 'nav-link' %></li>
					   -->
					   <li><%= link_to 'Contact', contact_path, class: 'nav-link' %></li>
					   
				   </ul>
				   
			   	<div class="footer-donate"><%= link_to 'DONATE', donate_path, class: "btn" %>
			   	</div>
			      </div>
				  
			     
				  
				  
			      <div class="col-sm-2 footer-col">
			       <h3>Social</h3>
				   <p><%= link_to (image_tag 'twitter.png'), 'http://twitter.com/Steinberg4Sac', target: 'blank' %><%= link_to (image_tag 'fb.png'), 'http://facebook.com/Steinberg.Darrell', target: 'blank' %>
			      </div>
			      
			    </div>
				  
				  
		  <div class="footnav">
         
	  </div>
		  <div class="clear"></div>
        <p>&copy; <%= Date.today.year %> Steinberg for Sacramento Mayor 2016 ID# 1380886</p>
		
		<div class="paidforby">Paid for by Steinberg for Sacramento Mayor 2016</div>
		<p>
			<% if current_user %>
			  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Admin', admin_path %> <% if current_user.id == 1 %> || <%= link_to 'Add User', signup_path %><% end %>
			<% else %>
			  <%= link_to 'Login', '/login' %> 
			<% end %>
			
		</p>
		
	</div>
      </footer>
	  
	 
<!-- FB widget -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- addthis -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-568c52c5530166b6" async="async"></script>


<!-- Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72394827-1', 'auto');
  ga('send', 'pageview');

</script>
  
  

</body>

<script>
$(".notices" ).fadeOut(3000);
</script>

</html>
